<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/imports :: imports"></div>

<div class="container mt-5">
    <form method="get" th:action="@{/quizzes}" class="form-inline mb-5">
        <a class="btn btn-dark ml-2 " th:href="@{/addquiz}" role="button">Add new quiz</a>
    </form>
    <div th:if="${quizzes}"><h3 class="text-center">Quizzes</h3></div>
    <div th:replace="fragments/quizlist :: quizlist (${quizzes})"></div>
</div>
</body>
</html>